build
__pycache__
control/__pycache__/
/venv/
/udpServer/client
/udpServer/server
/udpServer/visualizer
*~
/follow-the-line/xvenv/
*#*
*pycache*
node_modules
node_modules/*
dist/
dist
ws/
*vscode*
.DS_Store
/esp/src/vescController/.cache/
.DS_Store
.gitignore